<h1><%= @post.title %></h1>

<p>
  <%= link_to @post.url, @post.url %>
</p>
<p>
  <%= @post.content %>
</p>

<% unless @post.comments.empty? %>
  <h2>Comments</h2>
  <ul>
  <% @post.top_level_comments.each do |comment| %>
    <%= render 'comments/comment', comment: comment %>
  <% end %>
  </ul>
<% end %>

<p>
  <%= link_to("Edit post<br>".html_safe, edit_post_url(@post)) \
    if @post.author == current_user %>
  <%= link_to("Add comment<br>".html_safe, new_comment_url(@post)) \
    if signed_in? %>
  <% @post.subs.each do |sub| %>
    <%= link_to "Back to #{sub.title}", sub_url(sub) %><br>
  <% end %>
</p>