<h1><%= @post.title %></h1>

<p>
  <%= link_to @post.url, @post.url %>
</p>
<p>
  <%= @post.content %>
</p>

<% unless @comments_by_parent_id[nil].empty? %>
  <h2>Comments</h2>
  <ul>
    <% @comments_by_parent_id[nil].each do |comment| %>
      <% next unless comment.parent_comment_id.nil? %>
      <%= render 'comments/comment', comment: comment,
        comments_by_parent_id: @comments_by_parent_id %>
    <% end %>
  </ul>
<% end %>

<p>
  <%= link_to("Edit post<br>".html_safe, edit_post_url(@post)) \
    if @post.author == current_user %>
  <%= link_to("Add comment<br>".html_safe, new_comment_url(@post)) \
    if signed_in? %>
  <% @post.subs.each do |sub| %>
    <%= link_to "Back to #{sub.title}", sub_url(sub) %><br>
  <% end %>
</p>