<h1><%= @post.title %></h1>

<p>
  <%= link_to @post.url, @post.url %>
</p>
<p>
  <%= @post.content %>
</p>
<p>
  <%= link_to("Edit post<br>".html_safe, edit_post_url(@post)) \
    if @post.author == current_user %>
  <% @post.subs.each do |sub| %>
    <%= link_to "Back to #{sub.title}", sub_url(sub) %><br>
  <% end %>
</p>