<!DOCTYPE html>
<html>
<head>
  <title>Reddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>

<div>
<% if signed_in? %>
Welcome, <%= current_user.name %>!
<br>
<%= button_to "Sign out!", sign_in_url(current_sign_in), method: :delete %>
<% else %>

<%= link_to "Sign in!", new_sign_in_url %>
<% end %>
</div>


<%= yield %>

</body>
</html>
